<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cat.mapper.BabysitterMemberMapper">
    <insert id="insertMember">
        insert into babysitter_member
        (
            crtrYm, childCareInstNo, upChildCareInstNm, whlMbrCnt
        )
        VALUES
        (
            #{crtrYm}, #{childCareInstNo}, #{upChildCareInstNm}, #{whlMbrCnt}
        )
    </insert>
    <select id="selectregionCnt" resultType="cat.vo.MemberVO.MemberCntVO">
        select upChildCareInstNm, crtrYm, sum(whlMbrCnt) as whlMbrCnt from babysitter_member
        where date_format(crtrYm,"%Y-%m-%d") = str_to_date(#{date}, "%Y-%m-%d")
        group by upChildCareInstNm
    </select>
    <select id="selectAllCnt" resultType="cat.vo.MemberVO.MemberAllCntVO">
        select crtrYm, sum(whlMbrCnt) as whlMbrCnt from babysitter_member
        group by crtrYm
    </select>
</mapper>