html, body {
    height: 100%;
}
.container {
    overflow: hidden;
}
.container > div {float: left;}
.left_area {
    width: 270px; box-sizing: border-box; padding-right: 30px; padding-left: 50px;
    padding-top: 30px;
}
.right_area {width:calc(100% - 270px);
    box-sizing: border-box;
    padding:30px 50px;
}
.left_area h1 {font-size: 24px; font-weight: 700; text-align: center;
    padding-bottom: 30px; border-bottom: 4px solid #000; padding-top: 30px;
}
.left_area a {
    display: block; font-size: 18px; font-weight: 400;
    color: #000; padding:20px 0;
    border-bottom: 1px solid #ccc;
    text-decoration: none;
}
.left_area a::before {
    content:""; line-height: 18px;
    display: inline-block; width: 15px; height: 2px; position: relative; top: -2px;
    background-color: #000; vertical-align: middle; margin-right: 10px;
    display: none;
}
.left_area a.current {
    font-weight: 700;
}
.left_area a.current::before {
    display: inline-block;
}