html, body {
    height: 100vh; position: relative;
}
.login_box {
    display: inline-block; background-color: #fff;
    border-radius: 20px; box-shadow: 0 0 5px rgba(0,0,0,0.5);
    width: 400px; overflow: hidden;
    position: absolute; left: 50%; top: 50%;
    transform: translate(-50%, -50%);
}
.login_title {
    padding:30px; background-color: #f7f7f7;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); position: relative;
}
.login_title h1 {
    font-size: 36px; font-weight: 700;
}

.login_form {padding:30px; text-align: center;}
.login_form input {
    width: 90%; border: 0;
    font-size: 16px; font-family: "Noto Sans KR"; outline:none;
}
.login_form .input_box {padding:10px;
border: 1px solid #000; margin-bottom: 10px;}
.login_form .input_box i {margin-right: 5px;
    color: #29164e;
}
.login_form #login_btn {
    width: 180px; height: 40px; font-family: "Noto Sans KR";
    margin-top: 10px;
    font-size: 16px; font-weight: 700; border: 0; border-radius: 5px;
    color: #fff;
    background-color: #29164e; cursor:pointer;
}
.login_title > a {
    position: absolute; display: inline-block;
    padding:10px 20px; border-radius: 50px;
    background-color: #fff;
    color: #29164e; border: 2px solid #29164e;
    text-decoration: none; font-weight: 700; right: 30px; top: 30px;
}
.login_title > a:hover {
    background-color: #29164e; color: #fff;
}