html, body {
    position: relative; min-width:1550px;
}
.left_menu {
    overflow: hidden;
    padding:20px 20px 0 20px;
    position: relative;
    z-index: 999;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
#logo {
    position: absolute;
    left: 20px; top: 20px;
}
.main_menu {
    overflow: hidden; padding-left: 300px;
}
.main_menu li {
    float: left;
}
.main_menu li a {
    display: block;
    padding:15px 50px 35px 50px;
    color: #29164e; text-decoration: none;
    font-weight: 700; position: relative;
}
.main_menu li a::after {
    content:""; position: absolute; width: 70%; height:5px;

    background-color: #29164e;
    display: none;
    left: 15%; bottom: 0;
}
.main_menu li:hover a::after {
    display: block;
}
.main_menu li a.current {
    display: block;
}
.hc_top {
    position: absolute; right: 30px; top: 30px;
}
.hc_top a {font-size: 12px; color: #29164e; text-decoration: none;
}
.hc_top a:hover span {text-decoration: underline;}
.hc_top a i {margin-right: 5px;}
.user_menu > span {font-size: 10px; margin:10px; color: #ddd; position: relative; top: -1px;}

.sub { position: absolute; width:calc(100% - 320px); 
    background-color: rgba(255,255,255,0.9); font-size: 0; padding-left: 320px;
    box-shadow:0 2px 5px rgba(0,0,0,0.2); z-index: 99;
    height: 0; overflow: hidden;
    transition:height 0.3s;
}
.sub.show {height: 196px;}
.sub ul {
    display: inline-block; font-size: 14px; vertical-align: top; text-align: center;
    padding:10px 0;
}
.sub ul:nth-child(1) {width:158.89px;}
.sub ul:nth-child(2) {width:158.89px;}
.sub ul:nth-child(3) {width:158.89px;}
.sub ul:nth-child(4) {width:226.73px;}
.sub ul:nth-child(5) {width:173.61px;}
.sub ul:nth-child(6) {width:202.7px;}

.sub a {display: block; padding:15px; font-weight: 700;
    color: #333; text-decoration: none;
}
.sub a:hover {
    text-decoration: underline;
}